<%- include('../partials/header') %>

<main>
        <div class="container-fluid">
            <div class="mb-5">
                <h1 class="display-4 mb-5">Wizard Results</h1>
                <a href="/wizard/wizardLanding"><button class="btn btn-sm btn-danger">Run Again</button></a>      
            </div>

            <table class="table table-sm table-hover table-bordered wizardTable">
                <thead class="bg-dark text-light">
                    <tr>
                        <td></td>
                        <td></td>
                        <td><p class="lead mt-4 text-info">Scenario One</p></td>
                        <td><p class="lead mt-4 text-info">Scenario Two</p></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-info text-light">
                        <td>HOUSEHOLD INCOME</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-danger">
                        <td></td>
                        <td><h4 class="my-4">Family Income</h4></td>
                        <td><p class="my-4">$TBA</p></td>
                        <td><p class="my-4">$TBA</p></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= parent1Name %> After Tax Income</td>
                        <td>$<%= netIncomeAfterTaxP1BaseFN %> per fortnight</td>
                        <td>$<%= netIncomeAfterTaxP1AltFN %> per fortnight</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= parent2Name %> After Tax Income</td>
                        <td>$<%= netIncomeAfterTaxP2BaseFN %> per fortnight</td>
                        <td>$<%= netIncomeAfterTaxP2AltFN %> per fortnight</td>
                    </tr>

                    <tr class="bg-info text-light">
                        <td>ACTIVITY LEVELS</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= parent1Name %> Paid Hours Per Fortnight</td>
                        <td><%= parent1Hours1 %></td>
                        <td><%= parent1Hours2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= parent2Name %> Paid Hours Per Fortnight</td>
                        <td><%= parent2Hours1 %></td>
                        <td><%= parent2Hours2 %></td>
                    </tr>
                    <tr class="bg-info text-light">
                        <td>WEEKLY PAID CHILDCARE</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-danger">
                        <td></td>
                        <td><h4 class="my-4">Out of Pocket Childcare</h4></td>
                        <td><h4 class="my-4">$<%= cCSScenario1Out %> per week</h4></td>
                        <td><h4 class="my-4">$<%= cCSScenario2Out %> per week</h4></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= child1Name %> Centre-Based Days</td>
                        <td><%= cBDaysInCareS1C1 %></td>
                        <td><%= cBDaysInCareS2C1 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= child1Name %> Family Day Care Days</td>
                        <td><%= fDCDaysInCareS1C1 %></td>
                        <td><%= fDCDaysInCareS2C1 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= child1Name %> Outside School Hours Care Days</td>
                        <td><%= oSHDaysInCareS1C1 %></td>
                        <td><%= oSHDaysInCareS2C1 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= child2Name %> Centre-Based Days</td>
                        <td><%= cBDaysInCareS1C2 %></td>
                        <td><%= cBDaysInCareS2C2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= child2Name %> Family Day Care Days</td>
                        <td><%= fDCDaysInCareS1C2 %></td>
                        <td><%= fDCDaysInCareS2C2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= child2Name %> Outside School Hours Care Days</td>
                        <td><%= oSHDaysInCareS1C2 %></td>
                        <td><%= oSHDaysInCareS2C2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Activity Assessed Parent</td>
                        <td><%= activityAssessedParent1 %></td>
                        <td><%= activityAssessedParent2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Family Income for Subsidy Calculation</td>
                        <td>$<%= familyIncome1 %></td>
                        <td>$<%= familyIncome2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Max Hours of Subsidised Care</td>
                        <td><%= maxHours1 %></td>
                        <td><%= maxHours2 %></td>
                    </tr>
                    <tr class="text-danger">
                        <td></td>
                        <td>Total Care Hours</td>
                        <td><%= totalCareHours1 %></td>
                        <td><%= totalCareHours2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total Centre-Based Care Cost</td>
                        <td>$<%= totalCentreBasedCost1 %></td>
                        <td>$<%= totalCentreBasedCost2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total Family Day Care Cost</td>
                        <td>$<%= totalFamilyDayCareCost1 %></td>
                        <td>$<%= totalFamilyDayCareCost2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total OSH Care Cost</td>
                        <td>$<%= totalOSHCareCost1 %></td>
                        <td>$<%= totalOSHCareCost2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total Gross Care Cost</td>
                        <td>$<%= totalCareCost1 %></td>
                        <td>$<%= totalCareCost2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Weekly Out of Pocket - Above Hourly Cap</td>
                        <td>$<%= totalHourlyOutOfPocket1 %></td>
                        <td>$<%= totalHourlyOutOfPocket2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Childcare Subsidy %</td>
                        <td><%= childcareSubsidyPercent1 %>%</td>
                        <td><%= childcareSubsidyPercent2 %>%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Less Childcare Subsidy</td>
                        <td>$<%= cCSScenario1Amount %></td>
                        <td>$<%= cCSScenario2Amount %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Amount Paid to Provider/s</td>
                        <td>$<%= cCSScenario1Provider %></td>
                        <td>$<%= cCSScenario2Provider %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>%5 Buffer to Government</td>
                        <td>$<%= cCSScenario1Buffer %></td>
                        <td>$<%= cCSScenario2Buffer %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-info text-light">
                        <td>ANNUAL TAX AND CENTRELINK</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><h4 class="my-4"><%= parent1Name %></h4></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Taxable Income</td>
                        <td>$<%= parent1Salary1 %></td>
                        <td>$<%= parent1Salary2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Gross Tax Payable</td>
                        <td>$<%= grossTaxP1Base %></td>
                        <td>$<%= grossTaxP1Alt %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Medicare Levy</td>
                        <td>$<%= medicareP1Base %></td>
                        <td>$<%= medicareP1Alt %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Low Income Tax Offset</td>
                        <td>$<%= lowIncomeTaxOffsetP1Base %></td>
                        <td>$<%= lowIncomeTaxOffsetP1Alt %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Mid Income Tax Offset</td>
                        <td>$<%= midIncomeTaxOffsetP1Base %></td>
                        <td>$<%= midIncomeTaxOffsetP1Alt %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Net Tax Payable</td>
                        <td>$<%=  %></td>
                        <td>$<%=  %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Net Income After Tax</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><h4 class="my-4"><%= parent2Name %></h4></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Taxable Income</td>
                        <td>$<%= parent2Salary1 %></td>
                        <td>$<%= parent2Salary2 %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Gross Tax Payable</td>
                        <td>$TBA</td>
                        <td>$TBA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Medicare Levy</td>
                        <td>$TBA</td>
                        <td>$TBA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Low Income Tax Offset</td>
                        <td>$TBA</td>
                        <td>$TBA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Mid Income Tax Offset</td>
                        <td>$TBA</td>
                        <td>$TBA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Net Tax Payable</td>
                        <td>$TBA</td>
                        <td>$TBA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Net Income After Tax</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><h4 class="my-4">Centrelink</h4></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Family Tax Benefit A</td>
                        <td>$TBA</td>
                        <td>$TBA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Family Tax Benefit B</td>
                        <td>$TBA</td>
                        <td>$TBA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total Centrelink Entitlements</td>
                        <td>$TBA</td>
                        <td>$TBA</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><h4 class="my-4">Childcare</h4></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Gross Centre-Based Cost</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Gross Family DayCare Cost</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Gross OSH Care Cost</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Total Gross Childcare Cost</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Less Childcare Subsidy</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Net Out Of Pocket Childcare</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-dark text-light">
                        <td></td>
                        <td><h4 class="my-4">NET SURPLUS/DEFICIT</h4></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Per Fortnight</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>

             
            </table>


        </div>
    
</main>
         

<%- include('../partials/footer') %>