<%- include('../partials/adminHeader') %>

<main>

    <div class="container-fluid">
        <div class="row">
            <h2 class=" mb-5">Details of Centre <%= changeType %>:</h2>

            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Centre Name</th>
                        <th>Centre Size</th>
                        <th>Suburb</th>
                        <th>Rating</th>
                        <th>Long Day Care</th>
                        <th>After School Care</th>
                        <th>Before School Care</th>
                        <th>Vacation Care</th>
               
                    </tr>
                </thead>
                <tbody>              
                    <tr>
                        <td><%= centre.centreName %></td>
                        <td><%= centre.size %></td>
                        <td><%= centre.suburb %></td>
                        <td><%= centre.rating %></td>
                        <td><%= centre.longDC %></td>
                        <td><%= centre.afterSchool %></td>
                        <td><%= centre.beforeSchool %></td>
                        <td><%= centre.vacation %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</main>






<%- include('../partials/footer') %>