<%- include('partials/header') %>

<main>

    <div class="container-fluid">
        <div class="mb-5">
            <h1 class="display-4 mb-3"><%= familyName %> Family</h1>
 
           <a href="/editProfile"><button class="btn btn-lg btn-primary float-right mr-5">Edit Profile</button></a> 
           <p class="lead"><%= household %> Household</p>           
        </div>

        <div class="row">
            
                <table class="table table-hover table-bordered profileParentTable">

                    <thead class="bg-dark">
                        <tr>
                            <td></td>
                            <td class="lead text-info mt-4"><%= parent1Name %></td>
                            <td class="lead text-info mt-4"><%= parent2Name %></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-info text-light">
                            <td>ANNUAL SALARY BEFORE TAX AND SUPER</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="my-4">$80,000</td>
                            <td class="my-4">$70,000</td>
                        </tr>
                        <tr class="bg-info text-light">
                            <td>PAID HOURS PER WEEK</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="my-4">40</td>
                            <td class="my-4">40</td>
                        </tr>
                    </tbody>

                </table>

        </div>


        <div class="row">
   
             
                <table class="table table-hover table-bordered profileKidTable mt-5">
                    <thead class="bg-dark">
                        <tr>
                            <td class="lead text-info">Children</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="bg-info text-light">
                            <td></td>
                            <td>NAME</td>
                            <td>DATE OF BIRTH</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= child1Name %></td>  
                            <td><%= child1DOB %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= child2Name %></td>
                            <td><%= child2DOB %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= child3Name %></td>
                            <td><%= child3DOB %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= child4Name %></td>
                            <td><%= child4DOB %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><%= child5Name %></td>
                            <td><%= child5DOB %></td>
                        </tr>
                    </tbody>
                  
                </table>
           
        </div>
    </div>

</main>


<%- include('partials/footer') %>

