<%- include('partials/header') %>

<main>

    <div class="container-fluid">
        <div class="mb-5">
            <h1 class="display-4 mb-3"><%= familyName %> Family</h1>
 
           <a href="/editProfile"><button class="btn btn-lg btn-primary float-right mr-5">Edit Profile</button></a> 
           <p class="lead"><%= household %> Household</p>           
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-info mb-2">Parent 1</h2>
          
                <table class="table">
                    <tr>
                        <td><%= parent1Name %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Annual Income Before Tax</td>
                        <td>$<%= parent1Salary %></td>
                    </tr>
                    <tr>
                        <td>Paid Hours Per Week</td>
                        <td><%= parent1Hours %></td>
                    </tr>
                </table>

            </div>


            <div class="col-lg-6">
                <h2 class="text-info mb-2">Parent 2</h2>

                <table class="table">
                    <tr>
                        <td><%= parent2Name %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Annual Income Before Tax</td>
                        <td>$<%= parent2Salary %></td>
                    </tr>
                    <tr>
                        <td>Paid Hours Per Week</td>
                        <td><%= parent2Hours %></td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <h2 class="text-info my-4">Children</h2>

                <table class="table">
                    <tr>
                        <td><%= child1Name %></td>  
                        <td><%= child1DOB %></td>
                    </tr>
                    <tr>
                        <td><%= child2Name %></td>
                        <td><%= child2DOB %></td>
                    </tr>
                    <tr>
                        <td><%= child3Name %></td>
                        <td><%= child3DOB %></td>
                    </tr>
                    <tr>
                        <td><%= child4Name %></td>
                        <td><%= child4DOB %></td>
                    </tr>
                    <tr>
                        <td><%= child5Name %></td>
                        <td><%= child5DOB %></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</main>


<%- include('partials/footer') %>

